#display {
    width: 190px;
    display: flex;
    justify-content: center; 
}

#calcWrapper {
    width: 220px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: grey
}

.calcButton {
    width: 45px;
    height: 25px;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
}